@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
}

div {
    margin: 20px;
}

.wrap {
    height: 600px;
    border: 10px solid #fe0000;

    white-space: nowrap;
    overflow-y: hidden;
}

.h50 {
    min-height: 30px;
    height: 50px;
}

.h100 {
    min-height: 30px;
    height: 100px;
}

.h150 {
    min-height: 30px;
    height: 150px;
}

.vertical_block {
    height: 550px;
    width: 200px;
    background: #00ff01;

    display: inline-block;
    overflow: auto;
}

.horizontal_block {
    background: #0000fe;

    white-space: normal;
    overflow-x: hidden;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

/* hover */
.vertical_block:hover {
    background: #f6ec10;

    position: relative;
    bottom: 15px;
}

.horizontal_block:hover {
    background: #ff00ff;
}